#start {
  width: 80px;
  display: block;
  margin: 0 auto;
}

#field {
  position: relative;
  background-color:yellow;
  border: 1px solid black;
  margin: 0 auto;
}

#player1 {
  position: absolute;
  background-color: green;
}

#player2 {
  position: absolute;
  background-color: purple;
}

#ball {
  position: absolute;
  border-radius: 50%;
  background-color: red;
}

.score {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}